.card-image {
    display: flex;
    flex-direction: column;
    width: 100%;
    img {
        width: 413px;
        height: 413px;
        border-radius: 8px;
    }

    
    div {
            display: flex;
            justify-items: space-between;
            align-items: center;
            width: 100%;
            padding: 0.25rem 0.5rem;
        }
}

