.card-image {
  display: flex;
  flex-direction: column;
  width: 100%;
  img {
    width: 512px;
    height: 413px;
    border-radius: 8px;
    object-fit: cover;
  }
}

.card-image-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
}
