.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
    width: 95%;
    margin: 1rem auto;
}

@media (width <= 480px) {
    .gallery-container {
        grid-template-columns: 1fr;
    }
}

@media (width >= 481px) and (width <= 768px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width >= 1400px) {
    .gallery-container {
        width: 85%;
        gap: 1.5rem;
    }
}