/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-area {
  flex: 1;
}

.main-profile {
  width: 80%;
  margin-inline: auto;
  padding-block: 34px 20px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-bottom: 1px solid rgba(33, 33, 33, 0.7);

  .profile-card {
    display: flex;
    gap: 0.75rem;
  }
  .card-content {
    width: 420px;
    h1 {
      font-size: 2rem;
      margin-bottom: 5px;
    }
  }
}

.btn-post {
}
